*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:system-ui;
background:#0f172a;
color:white;
}

.layout{
display:flex;
min-height:100vh;
}

.sidebar{
width:260px;
background:#111827;
padding:20px;
transition:.3s;
}

.logo{
font-size:22px;
font-weight:bold;
margin-bottom:20px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:14px;
border-radius:10px;
cursor:pointer;
margin-bottom:8px;
background:#1f2937;
}

.sidebar li:hover{
background:#374151;
}

#content{
flex:1;
padding:20px;
overflow:auto;
}

.welcome{
text-align:center;
margin-top:100px;
}

.menu-btn{
display:none;
position:fixed;
top:10px;
left:10px;
z-index:1000;
padding:10px;
border:none;
border-radius:8px;
}

@media(max-width:768px){

.menu-btn{
display:block;
}

.sidebar{
position:fixed;
height:100%;
left:-260px;
top:0;
z-index:999;
}

.sidebar.show{
left:0;
}

#content{
width:100%;
padding-top:60px;
}
.mindmap-card{

    background:#111827;
    border:1px solid #334155;
    border-radius:16px;

    margin-bottom:15px;

    overflow:hidden;
}

.mindmap-header{

    padding:15px;

    cursor:pointer;

    font-weight:700;

    color:white;

    background:#1e293b;
}

.mindmap-content{

    max-height:0;

    overflow:hidden;

    transition:.4s;

    padding:0 15px;
}

.mindmap-card.open .mindmap-content{

    max-height:3000px;

    padding:15px;
}

.mindmap-content h3{

    color:#60a5fa;

    margin:10px 0;
}

.mindmap-content ul{

    padding-left:20px;
}

.mindmap-content li{

    margin-bottom:8px;
}
}